/* header{
    position: relative;
    top: 0px;
    border : 2px solid black;
    padding: 5px;
    width: 100vw;
    display: flex;
} */

/* .fond{
    left : windowWidth/2;
    top : 0
} */